{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
<h1>Welcome To Eat Cleaning App</h1>
<div class="container">
    <form action="/search">
        <button class="btn btn-outline-warning btn-lg">My account</button>
    </form>

</div>
<div class="container">
    <form action="/favorites">
        <button class="btn btn-outline-warning btn-lg">My Favorites</button>
    </form>

</div>
<div class="container">
    <form action="/random">
        <button class="btn btn-outline-warning btn-lg">Random Recipes</button>
    </form>

</div>
<div class="container">
    <form action="/refine">
        <button class="btn btn-outline-warning btn-lg">Refine Recipes</button>
    </form>

</div>
<div class="container">
    <form action="/meals">
        <button class="btn btn-outline-warning btn-lg">My Meal</button>
    </form>

</div>
{% endblock %}