{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
<h1>Welcome To Eat Cleaning App</h1>
<div class="container">
    <form action="/search">
        <button>My account</button>
    </form>

</div>
<div class="container">
    <form action="/favorites">
        <button>My Favorites</button>
    </form>

</div>
<div class="container">
    <form action="/random">
        <button>Random Recipes</button>
    </form>

</div>
<div class="container">
    <form action="/find">
        <button>Find Recipes</button>
    </form>

</div>
<div class="container">
    <form action="/meals">
        <button>My Meal</button>
    </form>

</div>
{% endblock %}