{% extends 'base.html' %}

{% block content %}
<h1>Your Meal</h1>

<div class="container">
    {% if g.user.ingredients %}
    <div id="ingredient-info" class="row justify-content-center align-items-center" data-id="{{ingredient.id}}">
        <h1>eat</h1>
        <ul>
            {{g.user.ingredients}}
        </ul>>
        <!-- calculate calories here -->
    </div>
    {% else %}
    <div class="jumbotron my-4">
        <div class="container">
            <h1 class="display-4 text-danger text-center">Sorry, you have not had any thing in your meal!
                <a href="/search" class="neon btn btn-outline-warning btn-lg">Back</a>
            </h1>
        </div>
    </div>
</div>
    {% endif %}
{% endblock %}


