{% extends 'base.html' %}
{% block title %}Recipes from Random{% endblock %}
{% block content %}
<div class="container">
    {% if recipes %}
        <div id="recipe-info" class="row justify-content-center align-items-center">
            <div id="jumbotron col-3 my-4">
                <div id="card">
                    <h5>Refine Your Random Search</h5>
                        <form id="card" action="/find" role="find">
                            <select class="select" name="diet" id="diet">
                                <option>
                                    <span class="text-muted">Diets</span>
                                </option>
                            </select>
                        </form>
                </div>
                
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}