{% extends 'base.html' %}
{% block title %}Search Ingredient{% endblock %}

{% block content %}
<h1>Search Ingredient </h1>

<div class="container" id="search-ingredient" >
    <form autocomplete='off' method="GET" id="search">
        <div class="autocomplete suggestions">

            <input data-autocomplete list="food-suggestion" class="form-control" type="text" name="query" placeholder="Search Ingredient">

            <button class="btn btn-outline-success" type="submit" value="find">Search</button>
            
        <div class="add-food" type="submit">
            {% for ingredient in ingredients %}

            <div>
                <div class="card my-4">
                    <div class="card-body">
                        <form method="POST" type="submit" href="/meals" name="ingredient-name">
                            <div class="card-text">
                                {% if g.user %}
                                <p class="ingredient-name">{{ ingredient.name }}
                                    
                                </p>
                                <a href="/meals">
                                    <button class="btn btn-outline-success" type="button" id="add-food" data-id="{{ingredient.id}}">
                                        <i class="{% if ingredient.id in ingredient_ids %} fas fa-heart fa-2x {% else %} far fa-heart fa-2x {% endif %}"></i></button>
                                </a>
                               
                                {% endif %}
                            </div>

                        </form>

                    </div>
                </div>
            </div>
            
            {% endfor %}
        </div>

    

       
    </form>
</div> 
   

<div class="today-meal border-0">
    <h5 class="card-title text-info">Today's Meal</h5>
    <div id="food-list">

    </div>
</div>
<div class="container">
    <a href="/meals" class="btn btn-outline btn-lg">Your Meal</a>
</div>
<div class="container">
    <a href="/" class="btn btn-outline btn-lg">Home</a>
</div>

<script type="text/javascript">
    $(function(){
        $(".card-text").on('click',function(event){
            event.preventDefault();
            var food = $(".ingredient-name").text();
            // var food = 'food';
            console.log(food);
            new_ul = document.createElement("ul");
            $("#food-list").append(new_ul);
            $(new_ul).append(food);
        })
        
       
    })
    $(function(){
         $("#search").click(function(event){
         

        })
    })



       
    // })
    // $(function(){
    //      $("#search").click(function(event){
            

    //     })
    // })

    // const form = document.querySelector('.search')
    // const input = document.querySelector('.form-control')
    // const card = document.querySelector('.card')

    // card.addEventListener('click', function(e){
        
    // })
    // form.addEventListener('submit', function(event){
    //     event.preventDefault();
    //     const new_ul = document.createElement("ul");
    //     let food_list = document.querySelector("#food-list");
    //     food_list.appendChild(new_ul);
    //     var ingredient = document.querySelector(".ingredient-name");
    //     new_ul.appendChild(ingredient);

    // })
</script>
 <!-- <script src="/static/app.js"></script>  -->
{% endblock %}


