{% extends 'base.html' %}
{% block title %}Search Ingredient{% endblock %}

{% block content %}
<h1>Search Ingredient </h1>

<div class="container" id="search-ingredient" >
    <form type="submit">
        <div class="autocomplete suggestions">

            <input data-autocomplete list="food-suggestion" class="form-control" type="text" name="query" placeholder="Search Ingredient">

            <button class="btn btn-outline-success" type="submit" >Search</button>
        </div> 
    </form>
        
</div>      
<div class="add-food">
    {% for i in ingredients %}
        <div class="jumbotron1 col-3 col-sm-10-6 m-2">
                <a href="/ingredients/{{i.id}}" data-id="{{i.id}}" class="show-ingredient">
                    <div>
                        <div class="card-body meal-info text-center">
                            <div class="card-body border">
                                <p class="ingredient-name">{{ i.name }}</p>
                              
                                {% if g.user %}
                                <button data-id="{{i.id}}" class='fav btn btn-sm border'>
                                    <i class="{% if i.id in ingredient_ids %}far fa-heart fa-2x{% else %}fas fa-heart fa-2x{% endif %}"></i>
                                </button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </a> 
        </div>
            
    {% endfor %}
</div>

   

<div class="today-meal border-0">
    <h5 class="card-title text-info">Today's Meal</h5>
    <div id="food-list">

    </div>
</div>
<div class="container">
    <a href="/meals" class="neon btn btn-outline-warning btn-lg m-2">Your Meal</a>
</div>
<div class="container">
    <a href="/" class="neon btn btn-outline-warning btn-lg m-2">Home</i></a>  
</div>

{% endblock %}


