{% extends 'base.html' %}
{% block title %}{{user.username}}{% endblock %}
{% block content %}

<div class="container">
    <h1 class="display-5 font-weight-bold">{{user.username}}</h1>
    <form action="/users/{{user.id}}/delete" method="POST">
        <button class="btn btn-outline-danger" type="submit">Delete</button>
    </form>
    <a class="btn btn-outline-warning btn-lg" href="/users/{{user.id}}/update">
        <button class="btn btn-outline" type="submit">Edit</button>
    </a>
</div>
<div class="row">
    <div class="col-7">
        <h4 class="lead text-warning">Email: {{user.email}}</h4>      
    </div>
</div>

<!-- add favorite function here -->
<div class="container">
    <h2 class="display-5 font-weight-bold">New Menu</h2>
    <form action="/meals">
        <button class="btn btn-outline-danger" type="submit">Go</button>
    </form>
</div>
{% endblock %}